


#square-container{
border: 1px solid rgba(88, 85, 82, 0.322);
position: relative;
transform: translateY(50%);
padding: 0 200px;
}


.square{
    width: calc((100% - 6rem) / 7 );
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px  2px inset rgba(26, 7, 233, 0.438);
}