body{
    background-color:rgba(46, 23, 255, 0.664);
    font-family: 'BIZ UDMincho', serif;
}
.square {
    width: calc((100% - 6rem) / 7);
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px 20px inset rgba(48, 28, 66, 0.295);
    border: 6px solid  rgba(48, 28, 66, 0.507);
    font-size:2.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-fizz {

    background-color: rgb(163, 255, 127);
}

.bg-buzz {
    background-color: hsl(36, 100%, 50%)
}

.bg-fizzbuzz {
    background-color: rgba(253, 4, 99, 0.781);
}

.bg-base {
    background-color: rgba(48, 74, 99, 0.774);
}